{% extends "base.html" %}

{% block title %}{{ conf.sitename }} – Plant ANKER {% endblock %}

{% block content %}
<article>
    <table id="arc">
    {% for year in env.globals.entrylist | archivesfor %}
        {% for month in year %}
            <tr>
		{% if loop.first %}
                <th>{{ year }}</th>
         	{% endif %}
            </tr>

           {% for entry in month.items %}
                <tr>
                    <td align=left valign=top><a href="{{ entry.permalink }}"><font size=2><font color="102152">{{ month.full ~ ', ' ~ entry.date.day }}-е</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </table>
</article>
{% endblock %}
